h1 {
  color: red;
}

* {
  box-sizing: border-box;
}

.calculator {
  width: 700px;
  display: flex;
  flex-direction: column;
}

.result {
  height: 100px;
  background-color: gray;
  width: 100%;
  font-size: 36px;
  color: white;
  padding: 25px 20px;
  text-align: right;
}

/* Each row (display and group buttons) should have a height of 100 px.
The Button groups should be displayed horizontally in rows. */
.calucator-buttons button {
  height: 100px;
  width: 25%;
  border: 1px solid gray;
}
